<h1><%= @user.first_name%> , see what we have for you!</h1>

<p>This product (<strong><%= @product.name %></strong>), is running out.</p>

<%= cl_image_tag("#{@product.photo.key}", width: 200) %>

<p><%= link_to 'Order now', product_url(@product) %></p>